
######## Files from develKA to be ignored by Git ###########
#the big text/lund files are very big in size, so let's ignore them
develKA/lund/*

# the output evio and hipo files are very big too
develKA/out*.evio
develKA/out*.hipo
# ignoring all the *.o files


# just in case they are named differently in future
develKA/*.evio
develKA/*.hipo


######## Files from HipoReading to be ignored by Git ###########
HipoReading/*evio
HipoReading/*hipo
HipoReading/Logs/*
HipoReading/prodData/*
HipoReading/simDataND/*
HipoReading/c_analysis/*.o
HipoReading/c_analysis/cfigs/*
HipoReading/c_analysis/figs/*
HipoReading/c_analysis/tmp
HipoReading/c_analysis/pdf_doc

######## Files from HipoReading  ###########

######## Files from HipoReading to be ignored by Git ###########

###### Files to be ignored from RunClara2 ######
RunClara2/ClaraUserData
RunClara2/OpWdDefaultYaml
RunClara2/run_local
RunClara2/runLocal/Logs
#RunClara2/runLocal/TmpDir


###### Temporarily ignoring some folders ######
BatchOp
devel
develND
develTst
hipo4cpp
RunClara
GEMC_examples
MHcpdStuff/bonus_analysis_fromMH
develComDontDelIt
MHcpdStuff/submitting_jobs_cpdFrm_mhattawy
TrashTmp
develKA/Trash/*~
