set servicesFile        /u/home/adhikari/pdisk/Bonus12/Gemc/RunClara2/runLocal/FromBradleyYale/rgf-spring2020_mc.yaml
set fileList            /u/home/adhikari/pdisk/Bonus12/Gemc/RunClara2/runLocal/filesAdhikariBY.txt
#set fileList            /u/home/adhikari/pdisk/Bonus12/Gemc/RunClara2/runLocal/filesAdhikariBYmpid1.txt
set outputFilePrefix    recBYdp
#set logDir              /u/home/adhikari/pdisk/Bonus12/Gemc/RunClara2/Gemc/HipoReading/Logs/
set session             nBONUS12kpSession
set description         nBONUS12kpDescription
set threads             4
#run local 
    